.App {
  text-align: center;
  margin: 4%;
}
.Pokedex {
  display: grid;
  gap: 8%;
  grid-template-columns: repeat(4, 1fr);
}
.card{
  background-color: cornflowerblue;
  border-radius: 4%;
  padding-bottom: 8%;
}
p {
  margin: 0px;
}